.title {
    font-weight: bold;
    margin-bottom: 2rem;
    color: black;
}

.title span {
    display: block;
}

.connectButton {
    margin-top: 2rem;
    color: white;
    width: 50%;
    background-color: black;
}

.manualEntryLink {
    margin-top: 1rem;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .connectButton {
        width: 70%;
    }
}
