.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.logoWrapper {
    text-decoration: none;
    align-items: center;
}

.logoSvg img {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 40px;
    max-width: 150px;
    object-fit: contain;
    padding: 1rem;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    .logoSvg img {
        left: 20px;
        max-width: 112px;
    }
}
