:root {
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: white;
    color: black;
}
  
#root {
    width: 100%;
    margin: 0 auto;
}
  
main {
    width: 100%;
}
  
a {
    font-weight: 500;
    color: #594fcc;
    text-decoration: inherit;
}
  
a:hover {
    color: #594fcc;
}
  
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
  
button {
    font: inherit;
    font-weight: 500;
    padding: 0.6em 1.2em;
    border-radius: 7px;
    border: 1px solid #ECECEC;
    background-color: black;
    color: white;
    cursor: pointer;
}
  
button:hover {
    border-color: #ECECEC;;
}

button:focus,
button:focus-visible {
    outline: 4px auto ECECEC;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
}

.networkErrorContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.networkErrorBox {
    background: white;
    width: 20rem;
    text-align: left;
    border-radius: 0;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    font: inherit;
}

.networkErrorTitle {
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    font-size: 0.8rem;
}

.networkErrorText {
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: black;
    font-size: 0.7rem;
}

.networkErrorLink {
    color: #594fcc;
    text-decoration: underline;
    font-size: 0.7rem;
}

.switchButton {
    margin-top: 0.75rem;
    background: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font: inherit;
    cursor: pointer;
    font-size: 0.7rem;
}

/* Mobile layout tweaks */
@media screen and (max-width: 768px) {
    .networkErrorBox {
      height: 8rem;
      width: 60%;
      padding: 0.75rem;
    }
  
    .networkErrorTitle {
        font-size: 0.6rem;
    }

    .networkErrorText, .networkErrorLink {
        font-size: 0.5rem;
    }

    .switchButton {
      width: 30%;
      font-size: 0.5rem;
    }
}